@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms

@model BetterCms.Module.Root.ViewModels.Cms.RenderWidgetViewModel
<link rel="stylesheet" href="/file/bcms-installation/Content/Styles/cssStyles.css" />

@if (Model != null && Model.Options != null)
{
    /*string guid = Guid.NewGuid().ToString();
    string objDivId = "marquee" + guid;
    RenderWidgetViewModel.MarqueeRootObject robj = null;
    string imgWidth = "200";*/
    string content1 = null;
    string imgWidth=null;
    string imgSrc=null, col1width = null, col2width = null, bgcolor = null,padding = null;
    foreach (var options in Model.Options)
    {

        //string bgcolor = string.Empty;
        if (options.Key == "col1width")
        {

            col1width = options.Value;

        }
        else if (options.Key == "col2width")
        {
            col2width = options.Value;
        }
        else if (options.Key == "backgroundcolor")
        {

            bgcolor = options.Value;

        }
        else if (options.Key == "padding")
        {
            padding = options.Value;
        }
        else if (options.Key == "imagewidth")
        {
            imgWidth = @options.Value;
        }
        else if (options.Key == "imageurl")
        {
            imgSrc = @options.Value;
        }
        else if (options.Key == "content1")
        {
            content1 = @options.Value;
        }
    }


    
    imgWidth = imgWidth + "%";
    col1width = col1width + "%";
    col2width = col2width + "%";

 <div class="container" style="">
     <div id="" class="row" style="padding:@padding;background:@bgcolor;">
         <div id="" style="width:@col1width">
             @Html.Raw(@content1)
             
         </div>

         <div style="width:@col2width">
             <div id="" style="width:@imgWidth">
                 <img src="@imgSrc" />
             </div>
         </div>
     </div>
</div>

}